*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
    background-color: #AED6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }

.contenedor{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 20%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contenedor .lado_izquierdo{
  position: relative;
  background: #34495E;
  padding: 40px;

}

.foto {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.foto img {
  border: solid black; 
}


.nombre h2{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.nombre h2 span{
  font-size: 0.8em;
  font-weight: 300;
}

.datos {
  padding-top: 30px;
}

.info {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;

}

.datos ul {
  position: relative;
}

.datos ul li {
  position: relative;
  margin: 10px 0;
  color: #fff;
  font-weight: 300;

}

.educacion {
  color: #fff;
}
.educacion ul li{
  margin-bottom: 15px;
  list-style: none;
}

.educacion h5{
  color: blueviolet;
  font-weight: 500;
}

.educacion h4{
  font-weight: 300;
  font-size: 100%;
}

.educacion h2{
  font-weight: 500;
  font-size: 100%;
}

.idiomas ul li{
  margin-bottom: 15px;
  list-style: none;

}

.idiomas .texto{
  color: #fff;
  font-weight: 500;
}

.idiomas .porcentaje{
  position: relative;
  height: 6px;
  background-color: black;
  display: block;
  margin-top: 5px;
}

.idiomas .porcentaje div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: blueviolet;
}


.contenedor .lado_derecho{
  position: relative;
  background: #fff;
  padding: 40px;

}

.sobre {
  margin-bottom: 50px;
}

.sobre:last-child{
  margin-bottom: 0;
}

.titulo1 {
  color:blueviolet;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  
}

.sobre h3{
  color:blueviolet;
  text-decoration-color: blueviolet;

}

p{
  margin-bottom: 10px;
}

.sobre .caja{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.sobre .caja .años{
  min-width: 150px;
}

.sobre .caja .años h5{
  text-transform: uppercase;
  color: blue;
  font-weight: 600;
}

.sobre .caja .texto2 h4{
  text-transform: uppercase;
  color:aqua;
  font-size: 16px;
}

.habilidades .caja{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.habilidades .caja h6{
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;

}

.habilidades .caja .porcentaje{
  position: relative;
  width: 100%;
  height: 10px;
  background: #fff;
}

.habilidades .caja .porcentaje div{
  position: absolute;
  top: 0;
  left: 00;
  height: 100%;
  background: cadetblue;
}

.contacto-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.contacto-items div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.contacto-items div:hover button {
  transform: scale(1.2);
}

.contacto-items div button {
  font-size: 45px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #03a9f4;
  transition-duration: 0.3s;
  border-radius: 50%;
}

.iconos {
  position: relative;
  flex-direction: row;
}

@media (max-width: 1150px)
{
  .contenedor{
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }
  
}

@media (max-width: 600px)
{
  .sobre .caja{
    flex-direction: column;
  }

  .sobre .caja .años{
    margin-bottom: 5px;
  }

  .habilidades .caja{
    grid-template-columns: repeat(1,1fr);
  }  

}


